layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  pane_template name="nvim" {
    command "nvim"
  }

  tab focus=true name="Frontend interview" cwd="/Users/niza/Development/uniit/frontend-interview/" {
    nvim
  }

  tab name="Backend interview" cwd="/Users/niza/Development/uniit/backend-interview/" {
    nvim
  }

  tab name="Servers" split_direction="vertical" {
    pane name="Backend" cwd="/Users/niza/Development/uniit/frontend-interview/"
    pane name="Frontend" cwd="/Users/niza/Development/uniit/backend-interview/"
  }
}
