layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  pane_template name="nvim" {
    command "nvim"
  }

  tab focus=true name="Semancin" cwd="/Users/niza/Development/uniit/semancin/" {
    nvim
  }
  
  tab name="Semancin servers" split_direction="vertical" {
    pane name="Backend" cwd="/Users/niza/Development/uniit/semancin/server/"
    pane name="Frontend" cwd="/Users/niza/Development/uniit/semancin/client/"
  }

  tab name="Helper" cwd="/Users/niza/Development/uniit/semancin/"
}
